div.col.col-lg-3
  ul.nav.nav-pills.nav-stacked
    li.nav-header
    li.active
      a(href='/home',title='Home') Home
    li
      a(href='/servernotes',title='Server Notes') Server Notes
    li
      a(href='/replay',title='Replay') Replay
    li
      a(href='/onboarding',title='Onboarding') Onboarding 
        span.badge.pull-right 42